<!DOCTYPE html>
<html>
<head>
  <title>Emotion Meter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "/favicon.ico" %>
</head>
<body class='container'>


	<div class="page-header text-center">
		<h1>Emotion Meter</h1>
	</div>

	<div class='container'>
		<%= yield %>
	</div>

	<img src="https://googledrive.com/host/0BwoZu2uBQcUZR1RDbC1DTUUwbmc/WebsiteWatermark.png" title='Designed By Nitin Pasumarthy (http://bit.ly/nitinpasumarthy)' style='position: fixed; bottom: 0; right: 0; opacity: 0.2; height: 20px; margin: 5px;'>
</body>
</html>
